.active-location {
    background-color: #863ee4;
}

.grid{
    display: grid;
    place-content: center;
}
h1{
    font-family: Cambria;
    font-weight:bold;
    font-size:xx-large;
}

p{
    font-family:'Courier New', Courier, monospace
    font-weight:400;
    font-size:medium;
    text-align::content;
}
h1{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
 img.displayed{
    display:block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 30px;
} 
.p-a {
    padding: 10rem;
}
