.active-location {
    background-color: #863ee4;
}

.grid{
    display: grid;
    place-content: center;
}
h1{
    font-family: Cambria;
    font-weight:bold;
    font-size:xx-large;
}

h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: small;
}
h1,h2{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
IMG.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px
}